/* Import Typographica font */
@font-face {
    font-family: 'Typographica';
    src: url('../fonts/TypoGraphica_demo.otf') format('otf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Typographica', sans-serif;
    letter-spacing: .1vw;
}


/* Hero Section */
#hero {
    text-align: center;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vw; /* Full viewport height */
    background-color: #E4E4E4;
    position: relative;
}

.hero-content h1 {
    height: 5vw;
    font-size: 3vw;
    margin-bottom: 5vw;
    color: #B0B0B0; /* Example text color */
}

.hero-content .btn {
    background-color: #141414; /* Example button color */
    color: #fff;
    padding: .8vw 1vw;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.8em;
    transition: background-color 0.3s ease;
}

.hero-content .btn:hover {
    background-color: #666; /* Darker shade for hover effect */
}

.logo{
    width: 40vw;
}
.logo img{
    width: 100%;
}

/* Know Us Section */
#know-us {
    padding: 60px 20px;
    background-color: #141414; /* Adjust based on your design */
    text-align: center;
    position: relative;
    z-index: 1;
}

#know-us h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff; /* Example text color */
}

#know-us p {
    font-size: 1.2em;
    max-width: 60vw;
    margin: 0 auto;
    color: #E4E4E4; /* Example text color */
}

/* Contact Form Section */
#contact-form {
    padding: 60px 20px;
    background-color: #E4E4E4; /* Adjust based on your design */
    text-align: center;
    position: relative;
    z-index: 1;
}

#contact-form h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #141414; /* Example text color */
}

#contact-form form {
    max-width: 500px;
    margin: 0 auto;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#contact-form button {
    background-color: #141414; /* Example button color */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
    background-color: #666; /* Darker shade for hover effect */
}

.wave-container {
    position: relative;
    width: 100%;
    height: 20vw;/* height: 400px; Set to the height of the tallest SVG or a suitable height */
    overflow: hidden;
    display: block;
    background-color: #E4E4E4;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/* Assigning different z-index values to stack waves */
.wave1 {
    z-index: 1;
}

.wave2 {
    z-index: 2;
}

.wave3 {
    z-index: 3;
}

/* Rotating the bottom waves by 180 degrees */
.wave-container.bottom {
    transform: rotate(180deg);
}

@media only screen and (max-width: 768px) {
    #know-us h2 {
        font-size: 1.8em;
    }
    
    #know-us p {
        font-size: .8em;
    }

    #contact-form h2 {
        font-size: 1.8em;
    }
    
    
    #contact-form input, #contact-form textarea {
        font-size: .6em;
    }
    
    #contact-form button {
        font-size: .8em;
    }

    .hero-content .btn {
        font-size: 1em;
    }
}

#dynamic-form {
    max-width: 600px;
    margin: 0 auto;
}

#pastSkills {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
}

.radio-group {
    margin: 20px 0;
    text-align: left;
}

.radio-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

/* Flexbox to space radio buttons evenly */
.radio-group .ratings {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.radio-group .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-group input[type="radio"] {
    display: none; /* Hide the default radio button */
}

/* Style the labels as boxes */
.radio-group .rating label {
    padding: 10px;
    background-color: #f0f0f0; /* Default color */
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 40px; /* Set width for even spacing */
    text-align: center;
    transition: background-color 0.3s;
}

/* When the radio button is selected, color the box black */
.radio-group input[type="radio"]:checked + label {
    background-color: black;
    color: white; /* Make the text color white when selected */
}